XML/Лабораторная 2/lr2_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/css" href="1.css"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name = "note">
       <xs:complexType>
           <xs:sequence>
               <xs:element name = "university" type = "xs:string"/>
               <xs:element name = "city" type = "xs:string"/>
               <xs:element name = "point" type = "xs:decimal"/>
               <xs:element name = "plan" type = "xs:decimal"/>

<note>
 <university>БГУ</university>
 <city>Минск</city>
 <point>328</point>
 <plan>60</plan>

 <university>БНТУ</university>
 <city>Минск</city>
 <point>312</point>
 <plan>55</plan>

 <university>БГУИР</university>
 <city>Минск</city>
 <point>360</point>
 <plan>20</plan>

 <university>Митсо</university>
 <city>Минск</city>
 <point>280</point>
 <plan>90</plan>
</note>
           </xs:sequence>
       </xs:complexType>
   </xs:element>
</xs:schema>


